<header>
<%= render "shared/mobile" %>
<div class="header-elements-2 inside">
  <nav class="nav-2">
      <a href="/">
      <%= image_tag "Logo-cosmetiquebiopro.png", class: "logo2", width:250 %>
      </a>
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to("Qui sommes-nous", :anchor => "qui") %></li>
      <li><%= link_to "Devenir co-créatrice.eur", devenir_co_creatrice_path %></li>
      <li class="brown"><%= link_to "Contactez-nous", contact_path %></li>
    </ul>
  </nav>
  <div class="accroche">
    <div class="accroche-text">
    <h2>
      Participez à la création de la 1re marque de cosmétiques pour professionnels élaborée avec des esthéticien.ne.s
    </h2>
    <p>Vous souhaitez participer au processus de co-création
et nous donner votre avis ?
Répondez à notre sondage pour que cette marque devienne <b>votre idéal de soins cosmétiques pour professionnels.</b></p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScxH9dgC1aZiuxOO2NMsQGNhpFhrTr2ow5A8EWALP4Yg9XcZw/viewform", target="blank">Je réponds au sondage</a>
    </div>
  </div>
</div>
</header>
