<header>
<div>
<div class="header-elements">
  <%= image_tag "logo.png", class: "logo", width: 400 %>
  <br>
  <p>Participez à la 1<sup>re</sup> marque de cosmétiques pour professionnels<br> co-créée avec des esthéticien.ne.s</p>
</div>
</div>
<nav id="nav">
  <ul>
    <li><%= link_to "Accueil", root_path %></li>
    <li><%= link_to "Qui sommes-nous", qui_sommes_nous_path %></li>
    <li><%= link_to "Participer à nos sondages", sondages_path %></li>
    <li><%= link_to "Devenir co-créatrice.eur", devenir_co_creatrice_path %></li>
    <li><%= link_to "Notre groupe Facebook", facebook_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</nav>
<%= render "shared/mobile" %>
</header>
