<div id="mobile-container" data-controller="navbar" class="">
  <span></span>
  <nav>
    <a id="link" href="#"><span id="burger"></span></a>
    <ul class="list-unstyled">
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to("Qui sommes-nous", :anchor => "qui") %></li>
      <li><%= link_to("Participer à nos sondages", :anchor => "sondage") %></li>
      <li><%= link_to "Devenir co-créatrice.eur", devenir_co_creatrice_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>
