<div id="creatrice">
<section class="inside">
<h1>Inscrivez-vous pour devenir une de nos 100 esthéticien.ne.s consultant.e.s.</h1>
<p>Tester nos produits, construisez des protocoles...
Créer votre marque idéale avec nous !!!
</p>
<%= simple_form_for :contact, url: send_path do |f| %>
  <%= f.text_field :type, value: "devenir_consultante", type: "hidden"  %>
  <%= f.input :email, label:"Email" %>
  <%= f.input :fichier, as: :file, label: "Extrait Kbis ou diplôme d'esthéticienne" %>
  <%= f.button :submit, "Envoyer", class: "btn cosme" %>
<% end %>
</section>
</div>
