<div id="contact">
<section class="inside">
<h1>Contact</h1>

<%= simple_form_for :contact, url: send_path do |f| %>
  <div class="double">
    <%= f.input :societe, label:"Société", required: false %>
    <%= f.input :fonction, label:"Fonction", required: false %>
  </div>
  <div class="double">
    <%= f.input :lastname, label:"Nom" %>
    <%= f.input :firstname, label:"Prénom" %>
  </div>
  <div class="double">
    <%= f.input :email, label:"Email" %>
    <%= f.input :tel, label:"Tel" %>
  </div>
  <div class="double">
    <%= f.input :address, label:"Adresse" %>
    <%= f.input :complement, label:"Complément" %>
  </div>
  <div class="double">
  <%= f.input :cp, label:"Code Postal" %>
  <%= f.input :ville, label:"Ville" %>
  </div>
  <%= f.input :pays, label:"Pays" %>
  <p>Votre établissement</p>
  <div class="">
    <%= f.input :nb_cabine, label:"Nombre de cabines",required: false %>
    <%= f.input :marques_distri, label: "Nombre de marques que vous distribuez",required: false %>
  </div>
  <div class="double">
    <%= f.input :budget, label:"Quel est votre budget d'ouverture ?",required: false %>
    <%= f.input :fichier, as: :file, label:"Upload", label:"Extrait Kbis ou diplôme d'esthéticienne" %>
  </div>

  <%= f.input :message, as: :text, label:"Message", required: false, input_html: {rows: 10, cols: 10} %>
  <%= f.input :rgpd, as: :boolean,label:"J'accepte que mes données saisies soient utilisées dans le cadre de ma démarche" %>
  <%= f.button :submit, "Envoyer", class: "btn cosme" %>
<% end %>
</section>
</div>
