<div id="contact">
<section class="inside">
<h1>Contact</h1>

<%= simple_form_for :contact, url: send_path do |f| %>
  <%= f.input :lastname, label:"Nom" %>
  <%= f.input :firstname, label:"Prénom" %>
  <%= f.input :message, label:"Message" %>
  <%= f.button :submit, "Envoyer", class: "btn cosme" %>
<% end %>
</section>
</div>
