<div id="home">


<div class="new-section first">
  <%= image_tag "photo-2.jpg", class: "" %>
  <div>
    <h2>Fermez les yeux et imaginez</h2>
    <p>... une marque de cosmétiques qui répond à vos attentes de professionnel.le.s de la beauté et du bien-être.</p>
    <p>... des formules où efficacité est synonyme de sensorialité.</p>
    <p>... un concept où votre expertise est au cœur de la démarche de soin.</p>
    <p>... des clients séduits par vos protocoles et fidèles à vos conseils.</p>
    <p>... un accompagnement personnalisé qui s’adapte à vos besoins.</p>
    <p>Bref, <b>une marque confidente à votre écoute.</b></p>
    <br>
    <h2>Ouvrez les yeux !</h2>
    <p>Parce que nous souhaitons que <b>vos exigences deviennent nos défis à relever</b>, nous mettons notre expertise de laboratoire cosmétique au service de vos envies.</p>
    <br>
    <h2>et dites-nous à quoi ressemblerait cette marque ?</h2>
    <p><b>Co-créez avec nous votre marque idéale de cosmétiques pour professionnels</b>
en devenant <a href="">nos Conseiller.e.s Beauté</a> ou <a href="">nos Esthéticien.ne.s Consultant.e.s.</a></p>
  </div>
</div>

<div class="inside">
<h2 class="center margin">Comment participer à l'aventure ?</h2>
<div class="grid">
  <div class="card">
    <%= image_tag "pictos/sondage.png", class: "" %>
    <h3>Donnez-nous votre avis en répondant à notre sondage</h3>
    <p>Votre savoir-faire et votre connaissance des besoins des clients sont précieux pour définir le cahier des charges d’une gamme de produits cosmétiques professionnels.<br>
      <b>En répondant à notre sondage, définissez avec nous les contours
      de votre marque idéale !</b>
    </p>
    <%= link_to "Je réponds au sondage", href="https://docs.google.com/forms/d/e/1FAIpQLScxH9dgC1aZiuxOO2NMsQGNhpFhrTr2ow5A8EWALP4Yg9XcZw/viewform?usp=sf_link", class: "btn-2 fit", target: "_blank" %>
  </div>

  <div class="card">
  <%= image_tag "pictos/conseilleres-beaute.png", class: "" %>
  <h3>Co-créez votre marque idéale et devenez un.e de nos Conseiller.e.s Beauté</h3>
  <p>Régulièrement, nous vous interrogerons sur vos habitudes de soins,
    vos best practices, vos besoins,
    vos envies, les évolutions de notre projet... Vous pourrez également participer
    à nos ateliers d’échanges et de co-création en distanciel.</p>
    <%= link_to "Je participe à la co-création", devenir_co_creatrice_path, class:"btn-2 fit" %>
  </div>

  <div class="card">
  <%= image_tag "pictos/estheticiennes-consultantes.png", class: "" %>
  <h3>Testez votre marque idéale et devenez une de nos Esthéticien.ne.s Consultant.e.s</h3>
  <p>Nous recherchons actuellement
    100 Esthéticien.ne.s Consultant.e.s pour tester des produits, construire des protocoles...
    Bref pour créer votre marque idéale avec nous car votre <b>expérience est notre exigence !</b></p>
    <%= link_to "Je m'inscris", consultante_path, class:"btn-2 fit" %>
  </div>
</div>
</div>

<div class="background">
  <div class="inside flex padding-2">
    <div class="bloc-text" id="qui">
      <h2>Phytodia, partenaire des esthéticiennes depuis plus de 10 ans avec Nature is Future</h2>
      <p><a href="https://www.phytodia.com/fr/", target="blank">Phytodia</a>, <b>laboratoire de recherche expert de la Plante au Produit</b>, a déjà conçu plusieurs produits cosmétiques en co-création avec ses esthéticiennes partenaires pour sa marque <a href="https://www.natureisfuture.fr/fr/", target="blank">Nature is Future</a>.<br>
Leur expérience et leurs retours nous ont permis, sans cesse, de faire évoluer et d'améliorer notre marque.<br><br>
Par exemple, avec la formulation de notre <b>incroyable Modelage minceur & fermeté</b>, une exclusivité cabine à la texture idéale proposant suffisamment d’accroche pour un palper-rouler tout en restant fluide pour faire les manœuvre sur 30 minutes.<br>
Ou encore, la création de protocoles de soins développés en partenariat avec nos esthéticiennes partenaires.<br><br>
Pensée dans sa globalité, Nature is Future s’appuye sur les compétences de nos commerciales formées dans l’esthétique pour un accompagnement personnalisé basé sur des outils spécifiques pour de meilleurs résultats en cabine et en vente.</p>
    </div>
    <%= image_tag "dos.png", class: "" %>
  </div>
</div>

<div class="inside form-2">
  <div>
  <h2>Une question,<br>contactez-nous !</h2>
  <%= simple_form_for :contact, url: send_path do |f| %>
    <%= f.input :lastname, label:"", placeholder:"Nom" %>
    <%= f.input :firstname, label:"", placeholder:"Prénom" %>
    <%= f.input :email, label:"", placeholder:"Adresse-mail" %>
  </div>
  <div>
    <%= f.input :message, as: :text, label:"", placeholder:"Votre message", input_html: {rows: 10, cols: 10} %>
    <%= f.input :rgpd, as: :boolean,label:"J'accepte que mes données saisies soient utilisées dans le cadre de ma démarche" %>
    <div class="form-btn">
      <%= f.button :submit, "Envoyer", class: "btn" %>
    </div>
  <% end %>
  </div>
</div>
<div class="pre-footer">
</div>
