<div id="home">
<div class="">
  <section class="section-home first">
    <div class="text">
      <div class="text-absolute">
        <h2>Fermez les yeux et imaginez...</h2>
        <p>...une marque de cosmétiques qui répond à vos attentes<br> de professionnel.le.s de la beauté et du bien-être.<br>
        ...des formules où efficacité est synonyme de sensorialité.<br>
        ...un concept où votre expertise est au coeur de la démarche de soin.<br>
        ...des clients séduits par vos protocoles et fidèles à vos conseils<br>
        ...un accompagnement personnalisé qui s'adapte à vos besoins.<br>
        Bref, <strong>une marque confidente à votre écoute.</strong></p>
        <h2>Ouvrez les yeux !</h2>
        <p>Parce que nous souhaitons que <strong>vos exigences deviennent nos défis<br> à relever</strong>, nous mettons notre expertise de laboratoire cosmétique<br> au service de vos envies</p>
        <h2>et dites nous à quoi ressemblerait cette marque ?</h2>
        <p><strong>Co-créez avec nous votre marque idéale de cosmétiques<br> pour professionnels</strong> en devenant nos Conseiller.e.s Beauté ou nos Esthéticien.ne.s Consultant.e.s</p>
        <br>
        <p><strong>Pour rester informer de l'évolution de notre projet,<br> inscrivez-vous à la Newsletter :</strong></p>
        <%= simple_form_for(@newsletter) do |f| %>
          <%= f.input :email, label: false %>
          <%= f.submit "Je m'inscris", class: "btn cosme" %>
        <% end %>
      </div>
    </div>
    <div class="visuel">
      <%= image_tag "Photo-01.jpg" %>
    </div>
    <div class="action">
    </div>
  </section>
  <section class="section-home">
    <div class="visuel">
    <%= image_tag "Photo-02.jpg" %>
    </div>
    <div class="text">
      <div class="text-absolute right">
        <h2>Devenez un.e de nos<br> Conseille.e.s Beauté !</h2>
        <p>Régulièrement, nous vous interrogerons sur vos habitudes de soins, vos best practices, vos besoins, vos envies, les évolutions de notre projet...</p>
        <p><strong>Et ça commence dès maintenant !<br>
        Apprenons à nous connaître avec ce premier sondage :</strong>
        </p>
        <div class="action">
        <%= link_to "Je participe au sondage", "", class: "btn cosme" %>
        </div>
      </div>
    </div>
  </section>
  <section class="section-home">
    <div class="text">
      <div class="text-absolute">
        <h2>Co-créez votre marque idéale<br> et devenez une de nos<br> Esthéticien.ne.s Consultant.e.s</h2>
        <p>Nous recherchons actuellement <strong>100 Esthécien.ne.s Consultant.e.s pour tester des produits</strong>, construire des protocoles, participer à nos ateliers d'échanges (en distanciel), donner vos avis...<br>
         Bref pour créer votre marque idéale avec nous car <strong>votre expérience est notre expérience !</strong></p>
         <p>Vous êtes intéressé.e ?</p>
        <div class="action">
          <%= link_to "Oui, je souhaite devenir esthéticien.ne.s consultant.e.s", "", class: "btn cosme" %>
        </div>
      </div>
    </div>
    <div class="visuel">
      <%= image_tag "Photo-03.jpg" %>
    </div>
    <div class="action">
    </div>
  </section>
</div>
<section class="last-bloc">
<div class="inside">
<span class="bulle">•</span>
<p>
Avec Phytodia,<br>
participez à l'élaboration de la première marque de cosmétiques pour professionnels<br>
en co-création avec des esthéticien.ne.s
</p>
<span class="bulle">•</span>
</div>
</section>
</div>
