<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouveau contact</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Nom: <%= @lastname %></p>
    <p>Prénom: <%= @firstname %></p>
    <p>Email: <%= @email %></p>
    <p>Tel : <%= @tel %>
    <p>Société : <%= @societe %>
    <p>Fonction : <%= @fonction %>
    <p>Adresse : <%= @address %>
    <p>Complément : <%= @complement %>
    <p>Code Postal : <%= @cp %>
    <p>Ville : <%= @ville %>
    <p>Pays : <%= @pays %>
    <p>Nombre de cabines : <%= @nb_cabine %>
    <p>Surface : <%= @surface %>
    <p>Marque distribuées : <%= @marques_distri %>
    <p>Budget : <%= @budget %>
    <hr>

    Message: <%= @message %><br>
    ----------
    </p>
    <p></p>
  </body>
</html>
